// index
@media (max-width: 1000px) {
    nav {
        padding-left: 10px;
    }

    h1 .playfair {
        font-size: 60px;
    }

    .wrapper {
        width: 90%;
    }
}

@media (max-width:800px) {
    nav {
        flex-direction: column;
        padding-top: 250px;
    }


    .logo {
        display: none;
    }

    ul {
        flex-direction: column;
        margin-top: -100px;

    }

    .index-ul li {
        font-size: 35px;
        text-align: center;
        padding: 20px;

    }

    h1 .playfair {
        font-size: 60px;

    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 250px;
        font-size: clamp(1rem, 2vw, 3rem) !important;

    }

    .wrapper {
        width: 90%;
    }

    .header-img-container {
        width: 60%;
        margin: 0 auto;
    }

    .section1 {
        flex-direction: column;
        margin-top: 150px;
        text-align: center;

    }

    .section1-para-wrapper {
        width: 89%;
        padding-bottom: 45px;
    }

    .section1-img-wrapper {
        width: 40%;
    }

    .section2 {
        flex-direction: column;
        width: 70%;
    }

    .section3-row1 {
        flex-direction: column;
        text-align: center;
    }

    .section3-row2 {
        flex-direction: column;
        text-align: center;
        margin-top: -50px
    }

    .font-awesome {
        display: block;
        border-radius: 0%;
    }

    .section4-row1 {
        flex-direction: column;

    }

    .section4-row2 {
        flex-direction: column;
    }

    .section4-img-wrapper {
        width: 70% !important;
        margin-top: 80px !important;
    }

    .section4-para-wrapper {
        width: 90% !important;
    }

    .section4-center {
        margin: 0 auto;
        text-align: center;
    }

    .section4-center {
        text-align: center !important;
    }

    .section4-para-wrapper {
        padding-top: 50px;
    }

    .section6 {
        width: 90%
    }
}

@media (max-width:500px) {
    h1 {
        font-size: clamp(1rem, 2.5vw, 2rem) !important;
    }

    .playfair {
        font-size: clamp(2rem, 2.5vw, 2rem) !important;
    }
}

//  blog

@media (max-width: 800px) {
    .blog-li li {
        font-size: 35px;
        text-align: center;
        padding: 20px;
    }

    .allcontent-wrapper {
        flex-direction: column;

    }

    .img-para-wrapper {
        margin: 0 auto;
        width: 90% !important;
        margin-top: 100px !important;
        text-align: center;
    }

    .aside-wrapper {
        width: 90% !important;
        margin: 0 auto;
        text-align: center;
    }

    .comment-content-wrapper {
        width: 90% !important;
        text-align: center;
    }

    .firstpic {
        flex-direction: column;
    }

    .content-img-wrapper li {
        padding-top: 80px;
        line-height: 1;
    }

    .content-img-wrapper p {
        padding-top: 20px;

    }

    .comment-content-wrapper {
        padding: 0 !important;
        margin: 0 auto;
    }

    .comment-wrapper .comment1-picture {
        width: 35%;
        margin: 0 auto;
    }

    .comment-wrapper .comment-div-wrapper {
        padding: 0;
    }

    .comment-wrapper .comment2-picture {
        width: 35%;
        margin: 0 auto;
    }

    .comment-wrapper .comment-div-wrapper {
        padding-bottom: 55px;
    }

    .blog-background h2 {
        justify-content: center;
    }

}

// contact

@media (max-width:800px) {
    .contact-section .form-container {
        margin-top: 100px;
        width: 90%;
        margin: 0 auto;

    }

    .getintouch {
        margin-top: -100px;
        font-size: 55px !important;
        justify-content: center;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-section .social-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;

    }

    .link-df {
        flex-direction: row;
    }

    .contact-links {
        padding-left: 50px;
        margin-top: 100px;
    }
}