@use "./variables" as *;
@use "placeholders";


//Navigation

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 29px;
    letter-spacing: 1px;
    height: 90px;
}

header {
    position: relative;
    @extend %backgroundHeader;

    &.blog-background {
        background-image: url("../beach-final-images/blog-image-1.jpg");
    }

    &.main-background {
        background-image: url("../beach-final-images/home-image-1.jpg");
    }

    &.contact-background {
        background-image: url("../beach-final-images/contact-image-1.jpg");

    }

    .logo {
        font-family: $playFair;
        font-size: 34.6px;
        color: $greenishCyan;
    }

    .nav-home-green {
        color: $greenishCyan;
    }

}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper2 {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $iceBlue;
}



nav ul {
    display: flex;
    font-size: 20px;

}

nav li {
    margin-right: 30px;
}

h1 {
    font-family: $lato;
    font-size: 62px;
    color: $spruce;
    font-weight: bold;
    z-index: 4;
    letter-spacing: 6.7px;
    line-height: 100px;
    position: absolute;
    top: 50%;
    left: 51.1%;
    transform: translateX(-40%);
    font-size: clamp(1rem, 4vw, 3.45rem);

    .playfair {
        font-family: $playFair;
        color: $twlightBlue;
        font-size: 111.2px;

    }
}

img {
    width: 100%;
}


.header-img-container {
    max-width: 1526px;
    margin: 0 auto;
    height: 850px;
    display: flex;
    align-items: flex-end;

    img {
        max-width: 560px;
        width: 100%;

    }
}

// BLOG 

.blog-background {
    h2 {
        color: $iceBlue;
        font-size: 84px;
        line-height: 58px;
        letter-spacing: 6.7px;
        display: flex;
        height: 50%;
        align-items: flex-end;
        padding-bottom: 10px;
    }

}

.allcontent-wrapper {
    display: flex;
    justify-content: space-between;

    br {
        display: block;
        margin: 10px 0;
    }


    h3 {
        color: $spruce;
        font-size: 35px;
        line-height: 58px;
        letter-spacing: 3.8px;
        font-weight: bold;
        font-family: $lato ;
    }

    .img-para-wrapper {
        width: 65%;
        border-top: 13px solid $greenishCyan;
        border-right: 13px solid $greenishCyan;
        border-bottom: 13px solid $greenishCyan;
        margin-top: -250px;
        position: relative;
        z-index: 3;

    }

    .blog-content-wrapper {
        max-width: 80%;
        margin: 0 auto;
        padding: 60px 0;
    }

    .post-image {
        box-shadow: 13px 13px $greenishCyan;
    }

    .aside-wrapper {
        width: 20%;
        padding-top: 85px;
    }

    .blue {
        color: $twlightBlue;
        font-style: italic;
        padding-bottom: 29px;
    }

    p {
        font-size: 20px;
        font-family: $lato;
        letter-spacing: 2px;
        line-height: 32px;

        span {
            color: $spruce;
            font-weight: bold;
        }
    }

    h4 {
        color: $twlightBlue;
        font-family: $lato;
        font-weight: bold;
        font-size: 20px;
        padding: 20px 0;
    }

    ul {
        padding-left: 25px;
    }

    li {
        list-style-type: circle;
        font-family: $lato;
        letter-spacing: 2px;
        line-height: 32px;


        &::marker {
            color: $greenishCyan;

        }
    }
}

.comment-wrapper {
    img {
        width: 100%;
    }

    .comment2-picture {
        width: 410px;
    }

    .comment-content-wrapper {
        width: 64%;
        padding: 60px 83px;
    }

    .comment-div-wrapper {
        padding-left: 80px;
        padding-bottom: 90px;

    }

    .firstpic {
        display: flex;
    }

    h5 {
        font-family: $lato;
        font-weight: bold;
        font-size: 32px;
        padding-bottom: 50px;
    }

    h6 {
        color: $twlightBlue;
        font-family: $lato;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px
    }

    .comment1-picture {
        width: 80%;

    }

    p {
        font-size: 20px;
        font-family: $lato;
        letter-spacing: 2px;
        line-height: 32px;
    }

}


textarea {
    width: 100%;
    border: none;
    border: 2px solid $greenishCyan;
    padding-top: 25px;
    padding-left: 18px;
    font-size: 22px;
    resize: none;
}

input {
    width: 49%;
    font-size: 20px;
    font-family: $lato;
    letter-spacing: 2px;
    font-weight: light;
    line-height: 32px;
    margin: 0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid $greenishCyan;
    outline: none;
    padding-left: 15px;
    color: grey;
}

.box {
    display: flex;
    justify-content: space-between;
}

button {
    display: block;
    width: 100%;
    margin-top: 28px;
}

// contact page

.contact-background {
    h2 {
        color: $iceBlue;
        font-size: 112px;
        line-height: 58px;
        letter-spacing: 6.7px;
        display: flex;
        height: 50%;
        align-items: flex-end;
        padding-bottom: 10px;
    }
}

.wrapper3 {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    height: 250px;

    .form-container {
        width: 65%;
        box-shadow: 13px 13px $greenishCyan;
        background-color: white;
        margin-top: -275px;
        padding: 78px 100px 0 100px;

    }

    .social-container {
        width: 31%;
        padding-top: 35px;
    }

    .social-container-info {
        width: 250px;
        margin: 0 auto;
    }

    button {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .contact-links {
        .fa-brands {
            font-size: 25px;
            color: black;
            padding-right: 20px;
            padding-bottom: 15px
        }

        .link-df {
            display: flex;
        }
    }

    .box {
        padding-bottom: 20px;
    }
}

.contact-footer {
    margin-top: 80px;
}



.mobile-nav {
    position: fixed;
    display: none;
}

.toggle {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 1s ease;

    a {
        &:hover {

            border-bottom: 2.5px solid $greenishCyan;
        }
    }

    li {
        padding: 10px;
    }

    ul {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -4%);
        top: 4%;
        left: 50%;
        z-index: 300;
    }

    .hamburger-menu-links {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        padding: 15px;
    }

}