$headingBeachStay: 'Playfair Display SC';
$headingBlogGetInTouch: "lato";
$headingWelcomeTo: "lato";
$headingVistGuyana: "lato";
$headingPlanAhead: "lato";
$logoBeachStay: 'Playfair Display SC';
$headingBeachHouse: "lato";
$buttonText: "Playfair Display SC";
$navigation: "lato";
$bodyText: "lato";
$formPlaceHolder: "lato";

$greenishCyan: #50E3C2;
$black: #2C2C2C;
$iceBlue: #FAFFFE;
$twlightBlue: #063974;
$lightLightBlue: #D2F9F1;
$spruce: #0c5f4c;