@use "./partials/variables" as *;
@use "./partials/placeholders";
@use "./partials/setup";
@use "./partials/nav";
@use "./partials/section1";
@use "./partials/section2";
@use "./partials/section3";
@use "./partials/section4";
@use "./partials/footer";
@use "./partials/media";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&display=swap');




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}