@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&display=swap");
header {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 850px;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 29px;
  letter-spacing: 1px;
  height: 90px;
}

header {
  position: relative;
}
header.blog-background {
  background-image: url("../beach-final-images/blog-image-1.jpg");
}
header.main-background {
  background-image: url("../beach-final-images/home-image-1.jpg");
}
header.contact-background {
  background-image: url("../beach-final-images/contact-image-1.jpg");
}
header .logo {
  font-family: "Playfair Display SC";
  font-size: 34.6px;
  color: #50E3C2;
}
header .nav-home-green {
  color: #50E3C2;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper2 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FAFFFE;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

nav li {
  margin-right: 30px;
}

h1 {
  font-family: "lato";
  font-size: 62px;
  color: #0c5f4c;
  font-weight: bold;
  z-index: 4;
  letter-spacing: 6.7px;
  line-height: 100px;
  position: absolute;
  top: 50%;
  left: 51.1%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  font-size: clamp(1rem, 4vw, 3.45rem);
}
h1 .playfair {
  font-family: "Playfair Display SC";
  color: #063974;
  font-size: 111.2px;
}

img {
  width: 100%;
}

.header-img-container {
  max-width: 1526px;
  margin: 0 auto;
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header-img-container img {
  max-width: 560px;
  width: 100%;
}

.blog-background h2 {
  color: #FAFFFE;
  font-size: 84px;
  line-height: 58px;
  letter-spacing: 6.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.allcontent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.allcontent-wrapper br {
  display: block;
  margin: 10px 0;
}
.allcontent-wrapper h3 {
  color: #0c5f4c;
  font-size: 35px;
  line-height: 58px;
  letter-spacing: 3.8px;
  font-weight: bold;
  font-family: "lato";
}
.allcontent-wrapper .img-para-wrapper {
  width: 65%;
  border-top: 13px solid #50E3C2;
  border-right: 13px solid #50E3C2;
  border-bottom: 13px solid #50E3C2;
  margin-top: -250px;
  position: relative;
  z-index: 3;
}
.allcontent-wrapper .blog-content-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
.allcontent-wrapper .post-image {
  -webkit-box-shadow: 13px 13px #50E3C2;
          box-shadow: 13px 13px #50E3C2;
}
.allcontent-wrapper .aside-image {
  width: 100%;
  padding-top: 85px;
}
.allcontent-wrapper .aside-wrapper {
  width: 20%;
}
.allcontent-wrapper .blue {
  color: #063974;
  font-style: italic;
  padding-bottom: 29px;
}
.allcontent-wrapper p {
  font-size: 20px;
  font-family: "lato";
  letter-spacing: 2px;
  line-height: 32px;
}
.allcontent-wrapper p span {
  color: #0c5f4c;
  font-weight: bold;
}
.allcontent-wrapper h4 {
  color: #063974;
  font-family: "lato";
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
}
.allcontent-wrapper ul {
  padding-left: 25px;
}
.allcontent-wrapper li {
  list-style-type: circle;
  font-family: "lato";
  letter-spacing: 2px;
  line-height: 32px;
}
.allcontent-wrapper li::marker {
  color: #50E3C2;
}

.comment-wrapper img {
  width: 100%;
}
.comment-wrapper .comment2-picture {
  width: 410px;
}
.comment-wrapper .comment-content-wrapper {
  width: 64%;
  padding: 60px 83px;
}
.comment-wrapper .comment-div-wrapper {
  padding-left: 80px;
  padding-bottom: 90px;
}
.comment-wrapper .firstpic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-wrapper h5 {
  font-family: "lato";
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 50px;
}
.comment-wrapper h6 {
  color: #063974;
  font-family: "lato";
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
}
.comment-wrapper .comment1-picture {
  width: 80%;
}
.comment-wrapper p {
  font-size: 20px;
  font-family: "lato";
  letter-spacing: 2px;
  line-height: 32px;
}

textarea {
  width: 100%;
  border: none;
  border: 2px solid #50E3C2;
  padding-top: 25px;
  padding-left: 18px;
  font-size: 22px;
  resize: none;
}

input {
  width: 49%;
  font-size: 20px;
  font-family: "lato";
  letter-spacing: 2px;
  font-weight: light;
  line-height: 32px;
  margin: 0;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #50E3C2;
  outline: none;
  padding-left: 15px;
  color: grey;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  display: block;
  width: 100%;
  margin-top: 28px;
}

.contact-background h2 {
  color: #FAFFFE;
  font-size: 112px;
  line-height: 58px;
  letter-spacing: 6.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.wrapper3 {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 250px;
}
.contact-section .form-container {
  width: 65%;
  -webkit-box-shadow: 13px 13px #50E3C2;
          box-shadow: 13px 13px #50E3C2;
  background-color: white;
  margin-top: -275px;
  padding: 78px 100px 0 100px;
}
.contact-section .social-container {
  width: 31%;
  padding-top: 35px;
}
.contact-section .social-container-info {
  width: 250px;
  margin: 0 auto;
}
.contact-section button {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-section .contact-links .fa-brands {
  font-size: 25px;
  color: black;
  padding-right: 20px;
  padding-bottom: 15px;
}
.contact-section .contact-links .link-df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-section .box {
  padding-bottom: 20px;
}

.contact-footer {
  margin-top: 80px;
}

.mobile-nav {
  position: fixed;
  display: none;
}

.toggle {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 2s, opacity 1s ease;
  transition: visibility 2s, opacity 1s ease;
}
.toggle a:hover {
  border-bottom: 2.5px solid #50E3C2;
}
.toggle li {
  padding: 10px;
}
.toggle ul {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -4%);
          transform: translate(-50%, -4%);
  top: 4%;
  left: 50%;
  z-index: 300;
}
.toggle .hamburger-menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  padding: 15px;
}

.section1-background {
  background-color: #FAFFFE;
}

.container {
  padding: 150px 0;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1-para-wrapper {
  width: 65%;
}

.section1-img-wrapper {
  width: 20%;
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

button {
  font-family: "Playfair Display SC";
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  color: #FAFFFE;
  background-color: #063974;
  padding: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #063974;
}
button:focus {
  background-color: #063974;
}

p {
  font-size: "lato";
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: normal;
}

.section1-para-wrapper h2 {
  font-size: 35px;
  color: #0c5f4c;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 3.8px;
}

.section3-para h3 {
  font-size: 30px;
  letter-spacing: 3.2px;
  color: #0c5f4c;
  line-height: 58px;
}

.section4 h4 {
  color: #063974;
  line-height: 58px;
  letter-spacing: 3.8px;
  font-size: 35px;
}

.container1 {
  padding: 75px 0px;
  position: relative;
}

.section2-background {
  background-color: #D2F9F1;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.section2 .hidden {
  visibility: hidden;
}

.section3-row1,
.section3-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.font-awesome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: #50E3C2;
  border-radius: 50%;
  padding: 10px;
  height: 25%;
  color: #FAFFFE;
  margin-top: 9px;
  margin-right: 16px;
}

.section3-para-padding {
  padding-bottom: 100px;
}

.section4-row1,
.section4-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D2F9F1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4-row2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section4-row1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section4-row1 .section4-img-wrapper {
  width: 40%;
  max-width: 800px;
  margin-top: -80px;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}
.section4-row1 .section4-para-wrapper {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.section4-row1 .section4-para-wrapper .section4-center {
  width: 58%;
  max-width: 550px;
}
.section4-row1 .section4-para-wrapper button {
  margin-top: 20px;
}

.section4-row2 .section4-img-wrapper {
  width: 40%;
  max-width: 800px;
  margin-bottom: -80px;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
  z-index: 2;
}
.section4-row2 .section4-para-wrapper {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.section4-row2 .section4-para-wrapper .section4-center {
  width: 58%;
  max-width: 550px;
  text-align: right;
}
.section4-row2 .section4-para-wrapper button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper1 {
  max-width: 1000px;
  margin: 0 auto;
}

.section5 {
  background-image: url("../beach-final-images/banner-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.section6 {
  text-align: center;
}
.section6 h4 {
  color: #50E3C2;
  font-size: 35px;
  padding-bottom: 20px;
}
.section6 button {
  margin-top: 10px;
}

footer {
  text-align: center;
  color: #FAFFFE;
  background-color: #2C2C2C;
  padding: 5px 0;
}

@media (max-width: 1000px) {
  nav {
    padding-left: 10px;
  }
  h1 .playfair {
    font-size: 60px;
  }
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 800px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 250px;
    display: none;
  }
  .logo {
    display: none;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -100px;
  }
  .index-ul li {
    font-size: 35px;
    text-align: center;
    padding: 20px;
  }
  h1 .playfair {
    font-size: 60px;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-size: clamp(3rem, 2vw, 3rem) !important;
    padding-bottom: 100px;
  }
  .wrapper {
    width: 90%;
  }
  .header-img-container {
    width: 60%;
    margin: 0 auto;
    height: 1000px;
  }
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
    text-align: center;
  }
  .section1-para-wrapper {
    width: 89%;
    padding-bottom: 45px;
  }
  .section1-img-wrapper {
    width: 40%;
  }
  .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .section3-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section3-row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: -50px;
  }
  .font-awesome {
    display: block;
    border-radius: 0%;
  }
  .section4-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4-row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4-img-wrapper {
    width: 70% !important;
    margin-top: 80px !important;
  }
  .section4-para-wrapper {
    width: 90% !important;
  }
  .section4-center {
    margin: 0 auto;
    text-align: center;
  }
  .section4-center {
    text-align: center !important;
  }
  .section4-para-wrapper {
    padding-top: 50px;
  }
  .section6 {
    width: 90%;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    font-size: 55px;
    position: fixed;
    right: 4%;
    top: 4%;
    color: black;
    font-weight: bolder;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s linear 300ms, opacity 300ms;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
  .x-mark {
    position: fixed;
    font-size: 2em;
    right: 4%;
    top: 4%;
    color: black;
    font-weight: bolder;
    z-index: 100;
  }
}
.hamburger-menu-links {
  margin-top: 0;
}

.navbar-ul {
  background-color: blue;
}

@media (max-width: 500px) {
  h1 {
    font-size: clamp(1rem, 2.5vw, 2rem) !important;
  }
  .playfair {
    font-size: clamp(2rem, 2.5vw, 2rem) !important;
  }
}
@media (max-width: 800px) {
  .blog-li li {
    font-size: 35px;
    text-align: center;
    padding: 20px;
  }
  .allcontent-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-para-wrapper {
    margin: 0 auto;
    width: 90% !important;
    margin-top: 100px !important;
    text-align: center;
  }
  .aside-wrapper {
    width: 90% !important;
    margin: 0 auto;
    text-align: center;
  }
  .comment-content-wrapper {
    width: 90% !important;
    text-align: center;
  }
  .firstpic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-img-wrapper li {
    padding-top: 80px;
    line-height: 1;
  }
  .content-img-wrapper p {
    padding-top: 20px;
  }
  .comment-content-wrapper {
    padding: 0 !important;
    margin: 0 auto;
  }
  .comment-wrapper .comment1-picture {
    width: 35%;
    margin: 0 auto;
  }
  .comment-wrapper .comment-div-wrapper {
    padding: 0;
  }
  .comment-wrapper .comment2-picture {
    width: 35%;
    margin: 0 auto;
  }
  .comment-wrapper .comment-div-wrapper {
    padding-bottom: 55px;
  }
  .blog-background h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 800px) {
  .contact-section .form-container {
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
  }
  .getintouch {
    margin-top: -100px;
    font-size: 55px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center !important;
  }
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-section .social-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .link-df {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-links {
    padding-left: 50px;
    margin-top: 100px;
  }
  .contact-footer {
    margin-top: 550px;
  }
}
@media (max-width: 600px) {
  .contact-section .form-container {
    width: 100%;
    font-size: 5px;
    padding: 40px 10px;
  }
  input,
textarea {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .fa-solid.fa-bars,
.fa-solid.fa-x.fa-2x {
    font-size: 35px;
  }
  .toggle .hamburger-menu-links {
    font-size: 12px;
    padding: 0px;
  }
  .section1-para-wrapper h2 {
    margin-top: -100px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 28px !important;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}